.layout {
    position: absolute;

    width: 1300px;
    height: 4400px;

    background-image: url(layout.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.7;
    z-index: -1;
}